*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
KEDB/PAT.txt

#Visual Studio Code/Visual Studio
.vs
.vscode
.code

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn


#KEDB Test
KEDB.Test/bin
KEDB.Test/obj

#Lokal database
KEDB/tmp
KEDB/Migrations
KEDB/appsettings.json
